<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="QuickDeleteMenu" Language="1033" Version="1.0.0.0" Manufacturer="Rob" UpgradeCode="dac8a978-9475-4ef1-abbf-9796d6fe3a6f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="QuickDeleteMenu" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="QuickDeleteMenu" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="BatFile" Guid="c753d7c6-c9f8-4195-969b-c729c17521b0">
				<File Id="QuickDelete.bat" Source="..\QuickDelete.bat" />
				<File Id="QuickDeleteShow.bat" Source="..\QuickDeleteShow.bat" />
				<File Id="Icon.ico" Source="..\Icon.ico" />
			</Component>
			<Component Id="RegistryEntries" Guid="3b024278-96dd-4051-9d3c-40333f1eeace">
				<RegistryKey Root="HKCR"
							 Key="Folder\shell\Quick Delete"
					  Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="Quickly Delete All Files and Folder"/>
					<RegistryValue Type="string" Name="Extended" Value=""/>
					<RegistryValue Type="string" Name="Icon" Value="[#Icon.ico]"/>
				</RegistryKey>				
				<RegistryKey Root="HKCR"
							 Key="Folder\shell\Quick Delete\command"
					  Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="[#QuickDelete.bat] &quot;%1&quot;"/>
				</RegistryKey>		
				
			</Component>
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>